.row{
  width: 20px;
  height: 20px;

}
.cells{
  width: 80px;
  height: 80px;
  display: inline-block;
  border: solid black 1px;
  border-collapse:collapse;
  font-size: 40px;
  text-align: center;
  

}
